@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  :root {
    --background: 210 40% 98%;
    --foreground: 215 28% 17%;
    --card: 210 40% 100%;
    --card-foreground: 215 28% 17%;
    --popover: 210 40% 100%;
    --popover-foreground: 215 28% 17%;
    --primary: 224 100% 58%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 91%;
    --secondary-foreground: 215 28% 17%;
    --muted: 210 40% 91%;
    --muted-foreground: 215 20% 45%;
    --accent: 34 100% 50%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 215 20% 85%;
    --input: 215 20% 85%;
    --ring: 224 100% 58%;
    --radius: 0.8rem;
  }
 
  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 224 100% 68%;
    --primary-foreground: 222 47% 11%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 34 100% 60%;
    --accent-foreground: 222 47% 11%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 224 100% 68%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
